head{
    h1{
        font-family: Arial;
        color: white;
    }
}

body{
    background: rgb(226, 185, 185);
   
}

button{
    button-align: center;
    
}

select{
    font-family: Arial;
    color: black;
    
}

h1{
    font-family: Arial;
    color: white;
    text-align: center;
}